<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

</head>
<body>

<th:block th:replace="commonPages/header :: header"></th:block>

<div class="container">
    <table class="table">
        <tr>
            <th>이메일</th>
            <th>비밀번호</th>
            <th>이름</th>
            <th>조회</th>
            <th>삭제</th>
        </tr>
        <tr th:each="member : ${memberList}">
            <td><a th:href="@{|/member/${member.id}|}">[[${member.memberEmail}]]</a></td>
            <td th:text="${member.memberPassword}"></td>
            <td th:text="${member.memberName}"></td>
            <td>
                <a th:href="@{|/member/${member.id}|}">조회</a>
            </td>
            <td><a th:href="@{|/member/delete/${member.id}|}">삭제</a></td>
        </tr>
    </table>
</div>

<div id="member-detail">

</div>

</body>

</html>