<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
<div class="container text-center">
    <form action="login" method="post">
        <input class="form-control mb-2" type="text" name="memberEmail" placeholder="이메일입력">
        <input class="form-control mb-2" type="text" name="memberPassword" placeholder="비밀번호입력">
        <input class="btn btn-primary" type="submit" value="로그인">
    </form>
</div>

</body>
</html>