<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>

<div class="container text-center">

<form action="/member/save" method="post" enctype="multipart/form-data">
    <input class="form-control" type="text" id="memberEmail" name="memberEmail" onblur="duplicateCheck()" placeholder="이메일">
    <span id="duplicate-check"></span>
    <input class="form-control" id="memberPassword" onblur="regExpPw()" type="text" name="memberPassword" placeholder="비밀번호">
    <span id="pw-exp-check-result"></span>
    <input class="form-control"  type="text" name="memberName" placeholder="이름">
    <input class="form-control" id="memberMobile"  onblur="regExpMo()"type="text" name="memberMobile" placeholder="전화번호">
    <span id="mo-exp-check-result"></span>
    <input class="form-control mb-3" type="file" name="memberProfile">
    <input type="submit" value="회원가입">
</form>
</div>
</body>
<script th:inline="javascript">
    const duplicateCheck = () => {
      const memberEmail = document.getElementById("memberEmail").value;
      const result = document.getElementById("duplicate-check");

      $.ajax({
          type: "post",
          url: "/member/dup-check",
          data: {
              "memberEmail" : memberEmail,
          },
          dataType:"text",
          success: function (res){
              if(res == "중복"){
                  result.innerText ="중복된 아이디가 존재합니다.";
                  result.style.color = "red";
              }else {
                  result.innerText ="";
              }
          },error: function (){
              alert("ajax 실패");
          }
      })
    }
    const regExpPw = () => {
        let memberPassword = document.getElementById("memberPassword").value;
        const pwExp = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,16}$/;
        const checkResult = document.getElementById("pw-exp-check-result");
        if(!pwExp.test(memberPassword)){
            checkResult.innerText = "최소 8 자, 하나 이상의 문자, 하나의 숫자 및 하나의 특수 문자 입력";
            checkResult.style.color = "red";
        } else{
            checkResult.innerText = "";
        }
    }

    const regExpMo = () => {
        let memberMobile = document.getElementById("memberMobile").value;
        const moExp = /^01([0|1|6|7|8|9])-?([0-9]{3,4})-?([0-9]{4})$/;
        const checkResult = document.getElementById("mo-exp-check-result");
        if(!moExp.test(memberMobile)){
            checkResult.innerText = "전화번호 형식을 확이해주세요";
            checkResult.style.color = "red";
        } else{
            checkResult.innerText = "";
        }
    }
</script>
</html>