<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
<div class="container">
    <div class="py-5 text-center">

        <form action="/member/update" method="post" name="updateForm">
            <input type="hidden" name="id" th:value="${updateMember.id}"><br>
            <input class="form-control mb-2"  type="text" id="memberEmail" name="memberEmail" th:value="${updateMember.memberEmail}" readonly><br>
            <input  class="form-control mb-2" type="text" id="memberPassword" name="memberPassword"><br>
            <input  class="form-control mb-2" type="text" id="memberName" name="memberName" th:value="${updateMember.memberName}" readonly><br>
            <input class="form-control mb-2"  type="text" id="memberPhone" name="memberMobile" th:value="${updateMember.memberMobile}"><br>
            <input type="hidden" name="memberProfileName" th:value="${updateMember.getMemberProfileName()}">
            <input type="button" class="btn btn-primary"  th:onclick="update()" value="수정">
        </form>
    </div>
</div>
</body>


<script th:inline="javascript">

    const update = () => {
        const pwDB = [[${updateMember.memberPassword}]];
        const pw = document.getElementById("memberPassword").value;

        if (pwDB == pw) {
            updateForm.submit();
        } else {
            alert("비밀번호가 틀립니다.")
        }
    }
</script>

</html>