<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>

<div class="container">
    <table class="table">
        <tr>
            <th>글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>내용</th>
            <th>조회수</th>
            <th>첨부파일</th>
        </tr>
        <tr>
            <td th:text="${board.id}"></td>
            <td th:text="${board.boardTitle}"></td>
            <td th:text="${board.boardWriter}"></td>
            <td th:text="${board.boardContents}"></td>
            <td th:text="${board.boardHits}"></td>
            <td><img th:src="@{|/upload/${board.boardFileName}|}" width="100" height="100" alt=""></td>
        </tr>
    </table>
    <div class="text-end" th:if="${session.loginMemberEmail}">
        <div th:if="${session.loginMemberEmail.toString().equals('admin')}">
            <button class="btn btn-outline-warning"><a th:href="@{|/board/delete/${board.id}|}">글 삭제</a></button>
        </div>
        <div th:if="${session.loginMemberEmail.toString()}==${board.boardWriter}">
            <button class="btn btn-outline-warning"><a style="text-decoration: none" th:href="@{|/board/update/${board.id}|}">글 수정</a></button>
            <button class="btn btn-outline-warning"><a style="text-decoration: none" th:href="@{|/board/delete/${board.id}|}">글 삭제</a></button>
        </div>
    </div>
</div>


<div class="container mt-5" th:if="${session.loginMemberEmail}">
    <div id="comment-write" class="input-group mb-3">
        <div class="form-floating">
            <input type="text" id="commentWriter" class="form-control" name="commentWriter" th:value="${board.boardWriter}" readonly>
            <label for="commentWriter">작성자</label>
        </div>

        <div class="form-floating">
            <input type="text" id="commentContents" class="form-control" name="commentContents">
            <label for="commentContents">내용</label>
        </div>
        <button id="comment-write-btn" class="btn btn-primary" th:onclick="commentSave([[${board.id}]])" >댓글작성</button>
    </div>
</div>

<div id="comment-list">
    <table class="table container">
        <tr>
            <th>댓글번호</th>
            <th>작성자</th>
            <th>내용</th>
            <th>작성시간</th>
        </tr>
        <tr th:each="comment : ${commentList}">
            <td th:text="${comment.id}"></td>
            <td th:text="${comment.commentWriter}"></td>
            <td th:text="${comment.commentContents}"></td>
            <td th:text="*{#temporals.format(comment.createdTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
    </table>
</div>


</body>

<script th:inline="javascript">
    const commentSave = (boardId) => {
        const commentContents = document.getElementById("commentContents").value;
        const commentWriter = [[${session.loginMemberEmail}]];
        $.ajax({
            type: "post",
            url: "/comment/save",
            data: {
                "commentBoardId": boardId,
                "commentContents": commentContents,
                "commentWriter": commentWriter
            },
            dataType: "json",
            success: function (result) {


                let output = "<table class='table container'>";
                output += "<tr><th>댓글번호</th>";
                output += "<th>작성자</th>";
                output += "<th>내용</th>";
                output += "<th>작성시간</th>";
                for (let i in result) {
                    output += "<tr>";
                    output += "<td>" + result[i].id + "</td>";
                    output += "<td>" + result[i].commentWriter + "</td>";
                    output += "<td>" + result[i].commentContents + "</td>";
                    output += "<td th:text='*{#temporals.format(" + result[i].createdTime + ", 'yyyy-MM-dd HH:mm:ss'" + ")}'>" + "</td>";
                    output += "</tr>";

                }
                output += "</table>";
                document.getElementById('comment-list').innerHTML = output;
                document.getElementById('commentContents').value = '';
            }

        })
    }
</script>
</html>