<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>

<div class="container text-center">
    <form action="/board/save" method="post" enctype="multipart/form-data">
        <input class="form-control mb-2"  type="text" name="boardTitle" placeholder="제목"><br>
        <input class="form-control mb-2"  type="text" name="boardWriter" th:value="${session.loginMemberEmail}" readonly><br>
        <textarea class="form-control mb-2"  type="text" name="boardContents"  cols="5" rows="10"> 글작성 </textarea>
        <input type="file" name="boardFile"><br>
        <input  class="btn btn-primary" type="submit" value="작성">
    </form>
</div>

</body>
</html>