<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block th:replace="commonPages/header :: header"></th:block>

<div class="container text-center" th:if="${session.loginMemberEmail}">
    <a href="/board/save">글작성</a>
    <a href="/member/logout">로그아웃</a>
    <a th:href="@{|/member/mypage/${session.loginId}|}">마이페이지</a>
    <a href="/board/">글목록</a>
</div>
<div class="container" th:unless="${session.loginMemberEmail}">
    <a href="/member/save">회원가입</a>
    <a href="/member/login">로그인</a>
    <a href="/board/">글목록</a>
</div>

</body>
</html>